<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>BRITTANY SIMS PHOTOGRAPHY</title>

        <!-- external CSS link -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@200;400&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/admin.css" />
    </head>
    <body>
        <div id="mobileNav">
            <nav class="main-nav">
                <ul>
                    <li><a href="/concert">CONCERT</a></li>
                    <li><a href="/lifestyle">LIFESTYLE</a></li>
                    <li><a href="/realestate">REAL ESTATE</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        <div id="mobileMenuLink">
            <a>MENU</a>
        </div>
        <div id="bodyWrapper">
            <div id="headerWrapper">
                <header id="header">
                    <div id="logo">
                        <h1><a href="/">BRITTANY SIMS</a></h1>
                    </div>
                    <div id="topNav">
                        <nav>
                            <ul>
                                <li id="workDropdownListItem">
                                    WORK
                                    <ul id="workDropdown" class="visibleMenu">
                                        <li><a href="/concert">CONCERT</a></li>
                                        <li><a href="/lifestyle">LIFESTYLE</a></li>
                                        <li><a href="/realestate">REAL ESTATE</a></li>
                                    </ul>
                                </li>
                                <li><a href="/about">ABOUT</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
            <a href="admin/logout" id="logoutBtn">LOGOUT</a>
            

            <section id="images">
                <h2>Images</h2>
                <form class="adminForm" action="admin/addImg" enctype="multipart/form-data" method="POST">
                    <div>
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" />
                    </div>
                    <div>
                        <label for="category">Category:</label>
                        <select name="category" id="category">
                            <option value="concert">Concert</option>
                            <option value="lifestyle">Lifestyle</option>
                            <option value="realEstate">Real Estate</option>
                        </select>
                    </div>
                    <div>
                        <!-- <label for="imageUpload">Image:</label> <br> -->
                        <input type="file" id="imageUpload" name="file" multiple/>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </section>
    
            <section id="adminGalleryWrapper">
                <select name="selectCategory" id="selectCategory">
                    <option value="all">All</option>
                    <option value="concert">Concert</option>
                    <option value="lifestyle">Lifestyle</option>
                    <option value="realEstate">Real Estate</option>
                </select>
    
                <section id="adminImgGallery">
                    <% images.forEach(img => { %>
                        <div data-category=<%= img.category %> class="adminImgWrapper">
                            <img src=<%= img.urlBeg + 'w_375/' + img.urlEnd %>>
                            <span><%= img.description %></span>
                            <form action="admin/delete/<%= img._id %>?_method=DELETE" method="POST">
                                <button type="submit">Remove</button>
                            </form>
                        </div>
                        
                    <% }) %>
                </section>
            </section>
        </div>

        
        

        <script src="js/admin.js"></script>
    </body>
</html>
