#logoutBtn {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

#images {
    margin-top: 50px;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

input {
    margin: 1rem 0;
}

button {
    margin-top: 1rem;
}

#adminGalleryWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.adminForm {
   width: 100%;
}

#category {
    margin-left: 16px;
}

.adminForm button {
   margin-left: 210px;
}

#adminImgGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.adminImgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: hsl(197, 10%, 87%);
    border-radius: .5em;
}

#adminImgGallery img {
    max-height: 500px;
    max-width: 300px;
    height: auto;
    width: auto;
}

.adminImgWrapper span {
    margin-top: 10px;
}

.adminImgWrapper form {
    margin-top: auto;
}

#aboutInputContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#aboutInputContainer section {
    display: flex;
    flex-direction: column;
}

#bioContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

